.project {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.2s all ease-in-out;
	gap: 2em;
	border-radius: 0.03em;
	text-decoration: none;

	@media (min-width: 600px) {
		border-radius: 0.05em;
	}

	&:hover {
		background-color: var(--text-color-slim-shady);
		box-shadow: 0 0 0 0.5em var(--text-color-slim-shady);

		h3,
		.icon {
			color: var(--link-color);
		}
	}
}

.projectContainer {
	--flow-space: 2em;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.projectText {
	p {
		margin-top: 0.25em;
	}
}

.icon {
	width: 1.5em;
	height: 1.5em;
	color: var(--text-color-shadiest);
}
