.footer {
	display: flex;
	justify-content: space-between;
	gap: 2em;
	align-items: center;
	font-size: 0.9em;
}

.nav {
	ul {
		display: flex;
		padding: 0;
		list-style: none;
		gap: 0.5em;
	}

	a {
		transition: 0.2s all ease-in-out;
		&:hover {
			color: rgba(255, 255, 255, 2);
		}
	}
}
