.page-transition {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Ensure content doesn't jump during animations */
.page-transition > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}