:root {
	--black: #242424;
	--black-75: rgba(0, 0, 0, 0.75);
	--black-50: rgba(0, 0, 0, 0.5);
	--black-30: rgba(0, 0, 0, 0.3);
	--black-10: rgba(0, 0, 0, 0.1);
	--black-5: rgba(0, 0, 0, 0.05);
	--white: #ffffff;
	--white-75: rgba(255, 255, 255, 0.75);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-30: rgba(255, 255, 255, 0.3);
	--white-10: rgba(255, 255, 255, 0.1);

	--bg-color: var(--white);
	--bg-color-shade: var(--white-75);
	--bg-color-shadier: var(--white-50);
	--bg-color-shadiest: var(--white-30);
	--bg-color-slim-shady: var(--white-10);
	--text-color: var(--black);
	--text-color-shade: var(--black-75);
	--text-color-shadier: var(--black-50);
	--text-color-shadiest: var(--black-30);
	--text-color-slim-shady: var(--black-5);

	--font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
		Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol;
	--font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
		arial, sans-serif;

	font-family: var(--font-sans);
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	[data-theme="dark"] {
		--bg-color: var(--black);
		--bg-color-shade: var(--black-75);
		--bg-color-shadier: var(--black-50);
		--bg-color-shadiest: var(--black-30);
		--bg-color-slim-shady: var(--black-10);
		--text-color: var(--white-75);
		--text-color-shade: var(--white-75);
		--text-color-shadier: var(--white-50);
		--text-color-shadiest: var(--white-30);
		--text-color-slim-shady: var(--white-10);
	}
}

.app {
	color: var(--text-color);
	padding-block: 4em;
}

a {
	text-decoration: inherit;
	color: currentColor;
}

body {
	background-color: var(--bg-color);
	margin: 0;
	place-items: center;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: var(--font-serif);
	color: var(--text-color-shadier);
}

.container {
	width: min(calc(100% - 2em), 40rem);
	margin-inline: auto;
}

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

.section {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 0.5px solid var(--text-color-slim-shady);
}
