.avatar {
	border-radius: 50%;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2em;
}

.name {
	font-size: 1.2em;
	color: var(--text-color);
}

.title {
	--flow-space: 0.2em;
	font-size: 1.1em;
	font-weight: 500;
	color: var(--text-color-shadier);
	font-family: var(--font-sans);
	a {
		transition: 0.2s all ease-in-out;
		&:hover {
			color: var(--text-color-shade);
		}
	}
}

.intro {
	--flow-space: 2em;
}
